/* FormStyles.module.css */
.formContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px auto;
  padding: 20px;
  max-width: 500px;
  background-color: #f9f9f9;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.label {
  font-size: 1.2em;
  margin-bottom: 10px;
  color: #333;
}

.inputField {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #ddd;
  border-radius: 5px;
}

.ingredientList {
  width: 100%;
  margin-bottom: 20px;
}

.ingredientItem {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  background-color: #fff;
}

.ingredientItem:nth-child(even) {
  background-color: #f0f8ff;
}

.ingredientButton {
  background-color: #4caf50;
  color: white;
  border: none;
  padding: 10px 15px;
  border-radius: 5px;
  cursor: pointer;
}

.submitButton {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 15px 20px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1.1em;
}

.submitButton:hover {
  background-color: #0056b3;
}

.submitButton:active {
  background-color: #004494;
}
